.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    padding: 20px 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 16px;
}

.nav-items > ul > li{
    padding-right: 10px;
    margin-right: 10px;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.res-card{
    background-color: rgb(253, 253, 99);
    width: 200px;
    padding: 10px;
    height: 400px;
    margin: 25px;
    border-radius: 10px;
}
.res-logo{
    width: 100%;
    height: 40%;
    border-radius: 5px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    height: 400px;
    width: 200px;
    margin: 20px;
    background-color:#f0f0f0 ;
}
.logBtn{
    height: 50px;
    width: 100px;
    background-color: rgb(15, 133, 202);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin: 10px;
}
.filter{
    display: flex;
}
.search,.filter-btn{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.user-card{
    padding: 5px;
    margin: 5px;
    border: black solid;
    border-radius: 2px;
}