.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo{
    width: 100px;
    height: 100px;
}

.nav-items{
    padding: 20px 20px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 16px;
}

.nav-items > ul > li{
    padding-right: 10px;
    margin-right: 10px;
}

.search{
    font-size: 25px;
    padding: 15px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.res-card{
    background-color: rgb(253, 253, 99);
    width: 200px;
    padding: 10px;
    height: 400px;
    margin: 25px;
    border-radius: 10px;
}
.res-logo{
    width: 100%;
    height: 40%;
    border-radius: 5px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.filter-btn{
    margin-top: 10px;
    background-color: blue;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
